@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#leftHalf{
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
}

header {
  height: 130px;
  display: flex;
}

.filter{
  display: inline;
  padding-top: 40px;
  padding-right: 10px;
}

#breeds{
  display: inline;
  height: 50px;
  margin-top: 40px;
}

#content{
  padding: 15% 100px;
}

.title{
  display: inline;
  font-family: 'Righteous', cursive;
  font-size: 45px;
}

.text{
  font-family: Playfair Display;
  font-size: 20px;
}


button{
  height: 45px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  background-color: #FFD2D2;
  display: inline;
  box-shadow: 5px 5px black;
} 

button:hover{
  background-color: #febebe;
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0px 0px;
}

button:active{
  background-color: #febebe;
  box-shadow: 0px 0px;
}


select{
  margin-right: 30px;
  border: 1px solid black;
  padding: 12px 10px;
  border-radius:12px;
  width: 15em
}

#rightHalf{
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: #FFD2D2;
}

.dogImg{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}